In [2]:
!pip install mysql-connector-python sqlalchemy pymysql pandas

Requirement already satisfied: mysql-connector-python in c:\users\amaan\anaconda3\lib\site-packages (9.4.0)
Requirement already satisfied: sqlalchemy in c:\users\amaan\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\amaan\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: pandas in c:\users\amaan\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\amaan\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\amaan\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\amaan\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amaan\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amaan\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amaan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\amaan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [18]:
connection = mysql.connector.connect(
    host='localhost',       
    user='root',            
    password='root',
    database='zomato'
)

In [20]:
query = 'Select * from movies'
df = pd.read_sql(query,connection)
df.head()

C:\Users\amaan\AppData\Local\Temp\ipykernel_12708\504569466.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,connection)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344.0,Orion Pictures,98.0

In [22]:
df.isnull().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3831 entries, 0 to 3830
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3831 non-null   object
 1   rating    3831 non-null   object
 2   genre     3831 non-null   object
 3   year      3831 non-null   int64
 4   released  3831 non-null   object
 5   score     3831 non-null   float64
 6   votes     3831 non-null   float64
 7   director  3831 non-null   object
 8   writer    3831 non-null   object
 9   star      3831 non-null   object
 10  country   3831 non-null   object
 11  budget    3831 non-null   int64
 12  gross     3831 non-null   float64
 13  company   3831 non-null   object
 14  runtime   3831 non-null   float64
dtypes: float64(4), int64(2), object(9)
memory usage: 449.1+ KB

In [26]:
df = df.drop(columns=['name',"year",'released','country','company','runtime'])

In [28]:
df.head(3)

,rating,genre,score,votes,director,writer,star,budget,gross
0,R,Drama,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,19000000,46998772.0
1,R,Adventure,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,4500000,58853106.0
2,PG,Action,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,18000000,538375067.0

In [30]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['rating'] = lb.fit_transform(df['rating'])
df['genre'] = lb.fit_transform(df['genre'])
df['director'] = lb.fit_transform(df['director'])
df['writer'] = lb.fit_transform(df['writer'])
df['star'] = lb.fit_transform(df['star'])

In [32]:
x = df.drop(columns=['score'])
y = df['score']

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=47)

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
model = RandomForestRegressor()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
accuracy = r2_score(y_test,y_pred)
print(f"Accuracy: {accuracy*100:.2f}%")

Accuracy: 42.63%

In [50]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
model = DecisionTreeRegressor(random_state=42)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
accuracy = r2_score(y_test,y_pred)
print(f"Accuracy: {accuracy*100:.2f}%")

Accuracy: -17.04%

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
accuracy = r2_score(y_test,y_pred)
print(f"Accuracy: {accuracy*100:.2f}%")

Accuracy: 18.82%

In [58]:
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
accuracy = r2_score(y_test, y_pred)
print(f"R² Score: {accuracy*100:.2f}%")

R² Score: 38.21%