# Feature Engineering

In [116]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\amaan\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\amaan\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\amaan\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\amaan\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\amaan\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [117]:
# Introduction to Machine Learning
# How to Train your ML Model

# Workflow of ML model :
    # Data Ingestion(Collection) --> Data Cleaning and Preprocessing --->
    # Model Training ---> Model Prediction ---> Model Accuracy .

# Feature Engineering ---> Data Clean and Preprocessing

In [118]:
# 1. Data Dividation

# df --> input(x), Target(y)
# x ---> x_train , x_test
# y ---> y_train, y_test

In [119]:
import numpy as np
import pandas as pd

In [120]:
df = pd.read_csv("placement.csv")
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [121]:
x = df.drop(columns=["placed"])
x.shape

(100, 2)

In [122]:
y = df["placed"]
y.shape

(100,)

In [123]:
from sklearn.model_selection import train_test_split

In [124]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [125]:
print(f"total Data_shape:{df.shape}, x Data Shape:{x.shape} and y Data shape:{y.shape}")
print(f"x_train shape: {x_train.shape}")
print(f"x_test shape: {x_test.shape}")

print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

total Data_shape:(100, 3), x Data Shape:(100, 2) and y Data shape:(100,)
x_train shape: (80, 2)
x_test shape: (20, 2)
y_train shape: (80,)
y_test shape: (20,)

In [126]:
from sklearn.preprocessing import StandardScaler

In [142]:
sc = StandardScaler()
# Fit means learn the parameters and transform means apply on data
x_train_sc = sc.fit_transform(x_train)
x_train_new = pd.DataFrame(x_train_sc, columns= x.columns)

        cgpa  resume_score
0  -0.008602     -0.128926
1   1.001293     -0.925381
2  -0.607389     -0.527154
3  -0.044350     -0.089103
4   0.992356      2.051369
..       ...           ...
75 -0.964874     -0.357907
76  0.348883      1.215091
77  0.500814     -0.746179
78 -1.358107     -0.815868
79 -0.366087      0.388770

[80 rows x 2 columns]

In [150]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

In [152]:
df = pd.read_csv("covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [154]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [156]:
df['fever'].mean()

100.84444444444445

In [158]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [160]:
# df.isnull().sum()

In [162]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [164]:
df['gender'] = df['gender'].map({"Male":1,"Female":0})
df['cough'] = df['cough'].map({"Mild":0,"Strong":1})
df['city'] = df['city'].map({'Kolkata':0,'Banglore':1,'Delhi':2,'Mumbai':3})
df['has_covid'] = df['has_covid'].map({'No':0,'Yes':1})

In [166]:
df

    age  gender  fever  cough  city  has_covid
0    60       1  103.0      0   0.0          0
1    27       1  100.0      0   2.0          1
2    42       1  101.0      0   2.0          0
3    31       0   98.0      0   0.0          0
4    65       0  101.0      0   3.0          0
..  ...     ...    ...    ...   ...        ...
95   12       0  104.0      0   NaN          0
96   51       0  101.0      1   0.0          1
97   20       0  101.0      0   NaN          0
98    5       0   98.0      1   3.0          0
99   10       0   98.0      1   0.0          1

[100 rows x 6 columns]

In [168]:
x = df.drop(columns=['has_covid'])
x

    age  gender  fever  cough  city
0    60       1  103.0      0   0.0
1    27       1  100.0      0   2.0
2    42       1  101.0      0   2.0
3    31       0   98.0      0   0.0
4    65       0  101.0      0   3.0
..  ...     ...    ...    ...   ...
95   12       0  104.0      0   NaN
96   51       0  101.0      1   0.0
97   20       0  101.0      0   NaN
98    5       0   98.0      1   3.0
99   10       0   98.0      1   0.0

[100 rows x 5 columns]

In [170]:
y = df['has_covid']
y

0     0
1     1
2     0
3     0
4     0
     ..
95    0
96    1
97    0
98    0
99    1
Name: has_covid, Length: 100, dtype: int64

In [172]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [174]:
print(f"x_train: {x_train.shape}")
print(f"x_test: {x_test.shape}")
print(f"y_train: {y_train.shape}")
print(f"y_test: {y_test.shape}")

x_train: (80, 5)
x_test: (20, 5)
y_train: (80,)
y_test: (20,)

In [176]:
from sklearn.preprocessing import StandardScaler

In [178]:
sc = StandardScaler()

In [180]:
x_train_sc = sc.fit_transform(x) # Fit means learn the parameters and transform means apply on data

In [182]:
x_train_new = pd.DataFrame(x_train_sc,columns=x.columns)

In [184]:
np.round(x_train_new.describe() , 2)

          age  gender   fever   cough   city
count  100.00  100.00  100.00  100.00  70.00
mean     0.00    0.00   -0.00    0.00   0.00
std      1.01    1.01    1.01    1.01   1.01
min     -1.58   -0.83   -1.47   -0.78  -1.04
25%     -0.98   -0.83   -0.95   -0.78  -1.04
50%      0.03   -0.83    0.04   -0.78   0.54
75%      0.90    1.20    0.60    1.28   0.54
max      1.61    1.20    1.63    1.28   1.34