# Gradient Descent Optimization

In [38]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv("credit_scoring.csv")
df.head(3)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685.0,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371.0,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771.0,6,957000,2.76,12,Auto Loan

In [40]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [41]:
df.isnull().sum()

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [42]:
df.head(2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685.0,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371.0,9,3619000,5.19,60,Auto Loan

In [43]:
lb = LabelEncoder()
df["Gender"] = lb.fit_transform(df["Gender"])
df["Marital Status"] = lb.fit_transform(df["Marital Status"])
df["Education Level"] = lb.fit_transform(df["Education Level"])
df["Employment Status"] = lb.fit_transform(df["Employment Status"])
df["Type of Loan"] = lb.fit_transform(df["Type of Loan"])

In [44]:
df.head(2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,1,1,2,0,0.22,2685.0,2,4675000,2.65,48,2
1,25,1,1,1,2,0.20,2371.0,9,3619000,5.19,60,0

In [45]:
df = df.drop(columns=["Gender","Marital Status"])
x = df.drop(columns=["Type of Loan"])
y = df["Type of Loan"]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state = 42)

In [57]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

ada = AdaBoostClassifier()
ada.fit(x_train, y_train)
y_pred_ada = ada.predict(x_test)
accuracy_ada = accuracy_score(y_test,y_pred_ada)
print(f"Ada Accuracy: {accuracy_ada*100:.2f}%")

gb = GradientBoostingClassifier()
gb.fit(x_train, y_train)
y_pred_gb = gb.predict(x_test)
accuracy_gb = accuracy_score(y_test,y_pred_gb)
print(f"gb Accuracy: {accuracy_gb*100:.2f}%")


xgb = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
xgb.fit(x_train, y_train)
y_pred_xgb = xgb.predict(x_test)
accuracy_xgb = accuracy_score(y_test,y_pred_xgb)
print(f"xgb Accuracy: {accuracy_xgb*100:.2f}%")

C:\Users\amaan\anaconda3\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:527: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

Ada Accuracy: 33.50%
gb Accuracy: 33.50%

C:\Users\amaan\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [14:30:11] WARNING: D:\bld\xgboost-split_1737531313485\work\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

xgb Accuracy: 32.50%

In [61]:
from catboost import CatBoostClassifier

cat = CatBoostClassifier(verbose=0)
cat.fit(x_train, y_train)
y_pred_cat = cat.predict(x_test)
accuracy_cat = accuracy_score(y_test, y_pred_cat)
print(f"CatBoost Accuracy: {accuracy_cat*100:.2f}%")

ModuleNotFoundError: No module named 'catboost'

In [64]:
!pip install catboost

Requirement already satisfied: catboost in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (1.2.8)
Requirement already satisfied: graphviz in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (3.10.6)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (2.2.5)
Requirement already satisfied: pandas>=0.24 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (1.16.2)
Requirement already satisfied: plotly in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (6.3.0)
Requirement already satisfied: six in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\amaan\appdata\local\programs\python\python313\lib\site-packages (from plotly->catboost) (1.38.2)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip