# KNN Imputer

In [4]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer,SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv("train.csv",usecols=["Age","Pclass","Fare","Survived"])
df.head(2)

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833

In [10]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [14]:
x = df.drop(columns=["Survived"])
y = df["Survived"]

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [20]:
knn = KNNImputer()
x_train_knn = knn.fit_transform(x_train)
x_test_knn = knn.transform(x_test)

In [22]:
pd.DataFrame(x_train_knn,columns=x_train.columns)

     Pclass   Age      Fare
0       1.0  45.5   28.5000
1       2.0  23.0   13.0000
2       3.0  32.0    7.9250
3       3.0  26.0    7.8542
4       3.0   6.0   31.2750
..      ...   ...       ...
707     3.0  21.0    7.6500
708     1.0  39.0   31.0000
709     3.0  41.0   14.1083
710     1.0  14.0  120.0000
711     1.0  21.0   77.2875

[712 rows x 3 columns]

In [28]:
lr = LogisticRegression()
lr.fit(x_train_knn,y_train)
y_pred = lr.predict(x_test_knn)
accuracy = accuracy_score(y_test,y_pred)
print(f"KNN Imputer Acuuracy: {accuracy*100:.2f}%")

KNN Imputer Acuuracy: 74.30%

In [30]:
si = SimpleImputer()
x_train_si = si.fit_transform(x_train)
x_test_si = si.transform(x_test)

In [32]:
lr = LogisticRegression()
lr.fit(x_train_si,y_train)
y_pred = lr.predict(x_test_si)
accuracy = accuracy_score(y_test,y_pred)
print(f"Simple Imputer Acuuracy: {accuracy*100:.2f}%")

Simple Imputer Acuuracy: 73.74%