# standarization

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("Social_Network_Ads.csv")
df.sample()

     User ID  Gender  Age  EstimatedSalary  Purchased
59  15789109  Female   32           117000          0

In [7]:
df = df.drop(columns=["User ID", "Gender"])

In [9]:
x = df.drop(columns=["Purchased"])
y = df["Purchased"]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [19]:
scaler.mean_

array([3.7871875e+01, 7.0281250e+04])

In [21]:
x_train_scaled = pd.DataFrame(x_train_scaled, columns=x_train.columns)

In [23]:
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x_test.columns)

In [25]:
import numpy as np

In [29]:
np.round(x_train_scaled.describe(),1)

         Age  EstimatedSalary
count  320.0            320.0
mean    -0.0              0.0
std      1.0              1.0
min     -1.9             -1.6
25%     -0.8             -0.8
50%     -0.1              0.0
75%      0.7              0.5
max      2.2              2.3

In [31]:
np.round(x_train.describe(),1)

         Age  EstimatedSalary
count  320.0            320.0
mean    37.9          70281.2
std     10.2          34430.6
min     18.0          15000.0
25%     30.0          43000.0
50%     37.0          71000.0
75%     45.0          88000.0
max     60.0         150000.0